
body {
    font-family: sans-serif;
    margin: 0px;
  }
  
  .bg-container{
      background-color: rgb(228, 214, 201);
      background-size: cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  }
  
  
  .card-container{
    background-color: white;
    height: 320px;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    
  }
  
  
  
  .sec-img{
    width: 100%;
    height: 125px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    object-fit: cover;
  }
  
  
  #section-2 {
    padding: 12px;
    
  }
  
  
  .sec-2-btn{
    background-color: orange;
    border-radius: 20px;
    width: 80px;
  }
  
  .sec-2-btn span{
    color: white;
    text-align: center;
    font-size: 10px;
    padding-left: 3px;
  }
  
  
  .sec-2-content h3{
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 1px;
  }
  
  .sec-2-content p{
      font-size: 9px;
      font-weight:  400;
      letter-spacing: 1px;
      color: gray;
  }
  
  
  .sec-2-user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10px;
    
  }
  
  
  .sec-2-user img {
     width: 40px;
     height: 40px;
     border-radius: 150px;
     padding-right: 7px;
     margin-top: 6px;
  }
  
  
  .sec-2-user-card{
    height: 45px;
  }
  
  
  .sec-2-user-card h4{
    font-size: 9px;
      font-weight: 600;
      letter-spacing: 1px;
      padding-bottom: 0px;
  }
  
  .sec-2-user-card p{
    font-size: 9px;
      font-weight:  400;
      letter-spacing: 1px;
      color: gray;
  }