# Ignore system files and personal directories
.VirtualBox/
.bash_history
.git-for-windows-updater
.gitconfig
.idlerc/
.node_repl_history
.python_history
.ssh/
.vscode/
AppData/
Contacts/
Downloads/
Favorites/
Music/
NTUSER.DAT*
desktop.ini

